.container{
    width: 400px;
    height: 800px;
    border: 1px solid black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.container div{
    border: 1px solid black;
    border-radius: 250px;
    flex: 1;
}